html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --background: #1B1B1B;
  --text: #EDF2F4;
  --secondary: #232323;
  --primary: #EE2E31;
}